#all-rlx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    flex-wrap: wrap;
    transition: all 0.5s;   
  }
  
  .card{
    position: relative;
    cursor: pointer;
  }
  
  .textimg {
    position: absolute;
    left: 10px;
    bottom: 25px;
    width: 15rem;
    padding: 5px;
    color: #DCDCDC;
  }
  
  .card img {
    width: 250px;
    height: 250px;
    border-radius: 8%;
  }
  
  
  #idRlx {
    width:250px;
    border-radius: 0.8rem;
    color: #006039;
    border: 3px #006039 solid;
  }
  
  .btn-adicionar {
  
    width: 90px;
    background-color: transparent;
    border: 1px solid #006039;
    border-radius: 1rem;
    color: #006039;
    padding: 3px;
  
  }
  
  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .btn_delete {
  
    width: 90px;
    background-color: transparent;
    border: 1px solid #006039;
    border-radius: 1rem;
    color: #006039;
    padding: 3px;
  
  }
  
  .img-header {
  
      display: flex;
      justify-content: center;
      width: 90px;
      height: 90px;
  
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 25px auto;
    max-width: 1110px;
  }
  
  .relogio__badge {
    background-color: #006039;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: aliceblue;
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -9px;
    left: -9px;
  }

  .RolexListItem--disable {
    box-shadow: 0px 0px 7px rgb(74, 72, 75);
  }
  
  .RolexListItem--disable button:disabled {
    background-color: gray;
  }

  .RolexListItem__tag {
    background-color: #006039 !important;
    color: white !important;
    position: absolute;
    font-size: 0.6em;
    border-radius: 5px;
    padding: 5px;
    top: -15px;
    left: -10px;
    letter-spacing: 1px;
  }

  .RolexListItem--deletar {
    box-shadow: 0px 0px 7px rgba(211, 0, 0);
  }
  
  .RolexListItem__tag--deletar {
    background-color: red !important;
  }